.footer {
	display: block;
	width: 100%;
	max-width: 1500px;
	padding: 200px 20px 538px;
	margin: 0 auto;
	position: relative;
	background-image: svgtodataurl(
		"%3Csvg width='1155' height='363' viewBox='0 0 1155 363' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1145.1 118.167C1137.42 122.484 1126.11 125.516 1111.22 127.022C1096.46 128.513 1078.89 128.44 1059.22 127.072C1019.87 124.336 973.029 116.494 925.095 106.442C829.2 86.3327 730.384 57.7108 680.229 44.4619L675.121 63.7986C724.638 76.879 824.422 105.766 920.99 126.016C969.288 136.145 1017.15 144.195 1057.83 147.024C1078.17 148.438 1096.95 148.565 1113.23 146.92C1129.37 145.289 1143.8 141.846 1154.9 135.598L1145.1 118.167ZM680.229 44.4619C630.332 31.281 546.299 9.94523 457.775 2.59203C369.611 -4.73133 274.998 1.61868 205.219 45.6745L215.896 62.586C280.004 22.111 369.115 15.2964 456.12 22.5234C542.765 29.7206 625.347 50.6503 675.121 63.7986L680.229 44.4619ZM205.219 45.6745C135.923 89.4253 84.7731 167.911 51.1514 234.243C34.25 267.588 21.5915 298.239 13.1551 320.559C8.93468 331.725 5.76522 340.821 3.64493 347.145C2.58466 350.308 1.78636 352.778 1.24984 354.469C0.981569 355.314 0.778712 355.965 0.641245 356.41C0.57251 356.632 0.52012 356.803 0.484071 356.921C0.466046 356.98 0.452107 357.026 0.442252 357.059C0.437324 357.075 0.433418 357.088 0.430532 357.097C0.42909 357.102 0.427691 357.107 0.42697 357.109C0.425828 357.113 0.42494 357.116 10 360C19.5751 362.884 19.5747 362.885 19.5746 362.886C19.5749 362.885 19.575 362.884 19.5756 362.882C19.5768 362.879 19.579 362.871 19.5822 362.861C19.5886 362.839 19.5991 362.805 19.6136 362.757C19.6427 362.662 19.6879 362.514 19.7494 362.315C19.8724 361.917 20.0603 361.315 20.313 360.518C20.8185 358.925 21.5833 356.558 22.6075 353.503C24.6563 347.392 27.7414 338.536 31.8633 327.631C40.1115 305.808 52.4886 275.842 68.9906 243.285C102.176 177.815 151.305 103.366 215.896 62.586L205.219 45.6745Z' fill='url(%23paint0_linear_21_11)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_21_11' x1='-10.3566' y1='203.791' x2='1150.74' y2='202.993' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.0833333' stop-color='%23FCDED1' stop-opacity='0'/%3E%3Cstop offset='0.322917' stop-color='%23FCDED1' stop-opacity='0.6'/%3E%3Cstop offset='0.713542' stop-color='%23FCDED1' stop-opacity='0'/%3E%3Cstop offset='0.911458' stop-color='%23FCDED1' stop-opacity='0.2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E"
	);
	background-repeat: no-repeat;
	background-position: 0 0;

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		line-height: 20px;

		@include devices {
			display: grid;
			grid-template-columns: auto auto;
		}
		@media (max-width: 600px) {
			grid-template-columns: auto;
		}
		p {
			margin: 6px 0 0;
		}
	}

	&:after {
		content: "";
		@include sprite("footer-bg");
		position: absolute;
		bottom: 74px;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, 0);
	}

	@include devices {
		padding: 40px 0 280px;
		background-image: svgtodataurl(
			"%3Csvg width='370' height='122' viewBox='0 0 370 122' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M217.916 23.7423L220.47 14.074V14.074L217.916 23.7423ZM72.4543 23.7423L67.1157 15.2866L72.4543 23.7423ZM360.097 37.6821C358.889 38.3618 356.44 39.1645 352.231 39.5899C348.155 40.0017 343.105 39.9973 337.207 39.5873C325.411 38.7671 311.178 36.397 296.377 33.293C266.747 27.0795 236.308 18.2577 220.47 14.074L215.362 33.4107C230.563 37.426 261.969 46.5126 292.272 52.8673C307.438 56.0475 322.694 58.6264 335.82 59.5391C342.383 59.9955 348.652 60.0535 354.242 59.4885C359.699 58.937 365.263 57.7237 369.903 55.1129L360.097 37.6821ZM220.47 14.074C204.89 9.95817 178.222 3.17432 150.009 0.830802C122.155 -1.48289 90.798 0.334563 67.1157 15.2866L77.7929 32.1981C95.8036 20.8269 121.659 18.5448 148.353 20.7622C174.688 22.9497 199.905 29.3274 215.362 33.4107L220.47 14.074ZM67.1157 15.2866C43.9166 29.9335 27.2929 55.7645 16.6727 76.7169C11.272 87.3717 7.23323 97.1526 4.54128 104.275C3.19313 107.842 2.17712 110.757 1.49222 112.799C1.14964 113.821 0.889522 114.626 0.711755 115.186C0.622861 115.466 0.554524 115.685 0.506735 115.84C0.482839 115.917 0.464076 115.978 0.450445 116.023C0.443629 116.045 0.438096 116.064 0.433846 116.078C0.43172 116.085 0.429915 116.091 0.428431 116.096C0.42769 116.098 0.426815 116.101 0.426445 116.102C0.425653 116.105 0.424939 116.107 10 118.991C19.5751 121.875 19.5745 121.877 19.574 121.879C19.574 121.879 19.5736 121.88 19.5735 121.881C19.5733 121.881 19.5733 121.881 19.5738 121.88C19.5746 121.877 19.5766 121.87 19.58 121.859C19.5866 121.837 19.5983 121.799 19.6149 121.746C19.6482 121.638 19.7016 121.467 19.7749 121.235C19.9216 120.773 20.1483 120.071 20.4548 119.157C21.0682 117.328 21.9999 114.652 23.2495 111.346C25.7532 104.722 29.5106 95.6261 34.5119 85.7591C44.6956 65.6678 59.299 43.8743 77.7929 32.1981L67.1157 15.2866Z' fill='url(%23paint0_linear_12654_156)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_12654_156' x1='3.66088' y1='70.3473' x2='365.232' y2='70.0986' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.0833333' stop-color='%23FCDED1' stop-opacity='0'/%3E%3Cstop offset='0.322917' stop-color='%23FCDED1' stop-opacity='0.6'/%3E%3Cstop offset='0.713542' stop-color='%23FCDED1' stop-opacity='0'/%3E%3Cstop offset='0.911458' stop-color='%23FCDED1' stop-opacity='0.2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"
		);

		&:after {
			@include sprite("footer-bg-mobile");
			bottom: 58px;
		}
	}
}
.js-back-to-top {
	width: 48px;
	height: 48px;
	position: absolute;
	right: 25px;
	bottom: 90px;
	z-index: 1;
	border-radius: 50%;
	border: 1px solid #d2233c;
	cursor: pointer;
	opacity: 0;
	transition: $duration-normal;

	&.is-inview {
		opacity: 1;
	}
	&:after {
		content: "";
		@include sprite("back");
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 26px;
	}
	@include devices {
		width: 30px;
		height: 30px;
		right: 20px;
		bottom: 20px;

		&:after {
			@include sprite("back-mobile");
		}
	}
}
