footer.footer
	.title
		| Навыки
	.footer__content
		.footer__row
			b
				| Adobe Creative Suite
			p
				| Photoshop, Illustrator, InDesign, XD, After Effects

		.footer__row
			b
				| Prototyping
			p
				| Sketch, Figma, InVision, Marvel, Principle, Balsamiq

		.footer__row
			b
				| Additional
			p
				| HTML, CSS, Google Analytics, Keynote, Miro

		.footer__row
			b
				| Languages
			p
				| Conversational English and Native Russian
	.stance#section2.anchor

a(data-scroll-to="" href="#section0").js-back-to-top(data-scroll data-scroll-repeat)
