$sprites: (
	"agency-21vek": (
		normal: (
			x: 859,
			y: 466,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1222,
			y: 1186,
			width: 300,
			height: 300,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"agency-ics": (
		normal: (
			x: 795,
			y: 511,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1718,
			y: 932,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"agency-in": (
		normal: (
			x: 827,
			y: 511,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1590,
			y: 1022,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"agency-oz": (
		normal: (
			x: 859,
			y: 511,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1654,
			y: 1022,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"back-mobile": (
		normal: (
			x: 862,
			y: 548,
			width: 11,
			height: 13,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1718,
			y: 1022,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"back": (
		normal: (
			x: 1086,
			y: 593,
			width: 20,
			height: 26,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1724,
			y: 1096,
			width: 22,
			height: 26,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"bg-left-mobile": (
		normal: (
			x: 891,
			y: 543,
			width: 106,
			height: 34,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 2172,
			y: 1186,
			width: 40,
			height: 52,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"bg-left": (
		normal: (
			x: 763,
			y: 593,
			width: 321,
			height: 65,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1782,
			y: 1086,
			width: 212,
			height: 68,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"bg-right-mobile": (
		normal: (
			x: 593,
			y: 466,
			width: 83,
			height: 114,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1526,
			y: 1186,
			width: 642,
			height: 130,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"bg-right": (
		normal: (
			x: 891,
			y: 0,
			width: 238,
			height: 336,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1186,
			y: 932,
			width: 166,
			height: 228,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"diploma-blue": (
		normal: (
			x: 999,
			y: 543,
			width: 33,
			height: 34,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1782,
			y: 0,
			width: 476,
			height: 672,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"diploma-end": (
		normal: (
			x: 760,
			y: 466,
			width: 62,
			height: 43,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1998,
			y: 1086,
			width: 66,
			height: 68,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"diploma-green": (
		normal: (
			x: 1034,
			y: 543,
			width: 33,
			height: 34,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1520,
			y: 932,
			width: 124,
			height: 86,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"diploma-orange": (
		normal: (
			x: 1069,
			y: 543,
			width: 33,
			height: 34,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 2068,
			y: 1086,
			width: 66,
			height: 68,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"diploma-purple": (
		normal: (
			x: 824,
			y: 466,
			width: 33,
			height: 34,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 2138,
			y: 1086,
			width: 66,
			height: 68,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"diploma-yellow": (
		normal: (
			x: 760,
			y: 511,
			width: 33,
			height: 33,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1648,
			y: 932,
			width: 66,
			height: 68,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"experience-romb-blue-pink": (
		normal: (
			x: 769,
			y: 548,
			width: 26,
			height: 17,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1520,
			y: 1022,
			width: 66,
			height: 66,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"experience-romb-end": (
		normal: (
			x: 732,
			y: 548,
			width: 35,
			height: 17,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1538,
			y: 1096,
			width: 52,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"experience-romb-green": (
		normal: (
			x: 824,
			y: 548,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1464,
			y: 1096,
			width: 70,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"experience-romb-orange-blue": (
		normal: (
			x: 797,
			y: 548,
			width: 25,
			height: 17,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1648,
			y: 1096,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"experience-romb-orange": (
		normal: (
			x: 843,
			y: 548,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1594,
			y: 1096,
			width: 50,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"fb": (
		normal: (
			x: 1104,
			y: 543,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1686,
			y: 1096,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"footer-bg-mobile": (
		normal: (
			x: 353,
			y: 593,
			width: 256,
			height: 165,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 2208,
			y: 1086,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"footer-bg": (
		normal: (
			x: 0,
			y: 593,
			width: 351,
			height: 226,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 706,
			y: 1186,
			width: 512,
			height: 330,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"logo-mobile": (
		normal: (
			x: 678,
			y: 466,
			width: 80,
			height: 80,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 0,
			y: 1186,
			width: 702,
			height: 452,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"logo": (
		normal: (
			x: 611,
			y: 593,
			width: 150,
			height: 150,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1356,
			y: 932,
			width: 160,
			height: 160,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"man-mobile": (
		normal: (
			x: 0,
			y: 821,
			width: 119,
			height: 186,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 0,
			y: 1642,
			width: 238,
			height: 372,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"man": (
		normal: (
			x: 593,
			y: 0,
			width: 296,
			height: 464,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1186,
			y: 0,
			width: 592,
			height: 928,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"preloader": (
		normal: (
			x: 0,
			y: 0,
			width: 591,
			height: 591,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 0,
			y: 0,
			width: 1182,
			height: 1182,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"processing": (
		normal: (
			x: 891,
			y: 338,
			width: 232,
			height: 203,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1782,
			y: 676,
			width: 464,
			height: 406,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"tg": (
		normal: (
			x: 678,
			y: 548,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1356,
			y: 1096,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
	"vk": (
		normal: (
			x: 705,
			y: 548,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 1129,
			total_height: 1007,
		),
		retina: (
			x: 1410,
			y: 1096,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 2258,
			total_height: 2014,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
